/* Hux add tags support */

.tags {
    margin-bottom: -5px;
}

    .tags a,
    .tags .tag {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 999em;
        padding: 0 10px;
        color: #ffffff;
        line-height: 24px;
        font-size: 12px;
        text-decoration: none;
        margin: 0 1px;
        margin-bottom: 6px;
    }

        .tags a:hover,
        .tags .tag:hover,
        .tags a:active,
        .tags .tag:active {
            color: white;
            border-color: white;
            background-color: rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }

@media only screen and (min-width: 768px) {

    .tags a,
    .tags .tag {
        margin-right: 5px;
    }
}

#tag_cloud {
    margin: 20px 0 15px 0;
}

    #tag_cloud a,
    #tag_cloud .tag {
        font-size: 14px;
        border: none;
        line-height: 28px;
        margin: 0 2px;
        margin-bottom: 8px;
        background: #B6B6B6;
    }

        #tag_cloud a:hover,
        #tag_cloud .tag:hover,
        #tag_cloud a:active,
        #tag_cloud .tag:active {
            background-color: #0085a1 !important;
        }

@media only screen and (min-width: 768px) {

    #tag_cloud {
        margin-bottom: 25px;
    }
}

.post-preview > a {
    color: #404040;
}

    .post-preview > a:hover,
    .post-preview > a:focus {
        text-decoration: none;
        color: #0085a1;
    }

    .post-preview > a > .post-title {
        font-size: 21px;
        line-height: 1.3;
        margin-top: 30px;
        margin-bottom: 8px;
    }

    .post-preview > a > .post-subtitle {
        font-size: 15px;
        line-height: 1.3;
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
    }

.post-preview > .post-meta {
    font-family: 'Lora', 'Times New Roman', serif;
    color: #808080;
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
}

    .post-preview > .post-meta > a {
        text-decoration: none;
        color: #404040;
    }

        .post-preview > .post-meta > a:hover,
        .post-preview > .post-meta > a:focus {
            color: #0085a1;
            text-decoration: underline;
        }

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .post-preview > a > .post-subtitle {
        font-size: 16px;
    }

    .post-preview .post-meta {
        font-size: 18px;
    }
}

.one-tag-list .tag-text {
    font-weight: 200;
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
}

.one-tag-list .post-preview {
    position: relative;
}

    .one-tag-list .post-preview > a .post-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
    }

    .one-tag-list .post-preview > a .post-subtitle {
        font-size: 12px;
    }

    .one-tag-list .post-preview > .post-meta {
        position: absolute;
        right: 5px;
        bottom: 0px;
        margin: 0px;
        font-size: 12px;
        line-height: 12px;
    }

@media only screen and (min-width: 768px) {
    .one-tag-list .post-preview {
        margin-left: 20px;
    }

        .one-tag-list .post-preview > a > .post-title {
            font-size: 18px;
            line-height: 1.3;
        }

        .one-tag-list .post-preview > a > .post-subtitle {
            font-size: 14px;
        }

        .one-tag-list .post-preview .post-meta {
            font-size: 18px;
        }
}