/* Hux add tags support */

.tags {
    margin-bottom: -5px;
}

    .tags a,
    .tags .tag {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 999em;
        padding: 0 10px;
        color: #ffffff;
        line-height: 24px;
        font-size: 12px;
        text-decoration: none;
        margin: 0 1px;
        margin-bottom: 6px;
    }

        .tags a:hover,
        .tags .tag:hover,
        .tags a:active,
        .tags .tag:active {
            color: white;
            border-color: white;
            background-color: rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }

@media only screen and (min-width: 768px) {

    .tags a,
    .tags .tag {
        margin-right: 5px;
    }
}

#tag_cloud {
    margin: 20px 0 15px 0;
}

    #tag_cloud a,
    #tag_cloud .tag {
        font-size: 14px;
        border: none;
        line-height: 28px;
        margin: 0 2px;
        margin-bottom: 8px;
        background: #D6D6D6;
    }

        #tag_cloud a:hover,
        #tag_cloud .tag:hover,
        #tag_cloud a:active,
        #tag_cloud .tag:active {
            background-color: #0085a1 !important;
        }

@media only screen and (min-width: 768px) {

    #tag_cloud {
        margin-bottom: 25px;
    }
}